@import "../../../styles/smart-grid.scss";

.list__header {
  margin: 0;
  padding: 0 0 14px 38px;
  border-bottom: 1px solid #EEEEEE;
  color: #B5B7C0;

  .list__row__item--status {
    padding: 0;
    text-align: center;
  }

  @include md-block() {
    margin: 0;
    padding-left: 20px;
  }
}