@import "base/_general.scss";
@import "base/_fonts.scss";
@import "helpers/_variables.scss";
@import "../blocks/modules";
@import "smart-grid.scss";

.wrapper {
  @include wrapper();
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $color-black;
  letter-spacing: -0.02px;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    color: $color-yellow;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}