@import "base/_general.scss";
@import "helpers/_variables.scss";
@import "../blocks/modules";
@import "smart-grid.scss";

.wrapper {
  @include wrapper();
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292D32;
  background-color: #FAFBFF;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main {
  display: flex;

  &__right {
    width: 100%;
    box-sizing: border-box;
    padding: 41px 95px 0 71px;
  }
}