.aside {
  width: 306px;
  min-width: 306px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  padding: 36px 28px;
  box-sizing: border-box;
}