.search {
  position: relative;
  width: 216px;
  height: 38px;
  background-color: #F9FBFF;
  border-radius: 10px;
  overflow: hidden;

  &--icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: 8px;
    fill: none;
    stroke: #7E7E7E;
  }

  &--input {
    width: 100%;
    height: 100%;
    margin-left: 40px;
    border: none;
    background-color: transparent;
  }
}