@import "../../../styles/smart-grid.scss";

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 53px 0 38px;

  &__text {
    &--title {
      font-size: 22px;
      line-height: 33px;
      color: #000000;
    }

    &--subtitle {
      margin-top: 7px;
      color: #16C098;
    }
  }

  @include md-block() {
    padding: 0 20px;
  }

  @include sm-block() {
    flex-direction: column;
    text-align: center;

    &__text {
      margin-bottom: 20px;
    }
  }
}