@import "../../../styles/smart-grid.scss";

.pagination {
  display: flex;

  &__item {
    width: 26px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    margin-left: 12px;

    &:nth-child(1) {
      margin-left: 0;
    }

    a {
      color: #404B52;
    }

    &--active, &:hover {
      background-color: #5932EA;
      border: 1px solid #5932EA;

      a {
        color: #fff;
      }
    }

    @include sm-block() {
      margin-left: 6px;
    }
  }

  &__middle {
    background-color: transparent;
    border-color: transparent;
  }
}